<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/Login/style.css">
  <title>Login</title>
</head>
<body>
  <div class="container loginform">
    <div class="content">
      <!--restaurent logo-->
      <h2>logo.</h2>
      <p class="header">LogIn to see <br> more</p>

      <form action="/login" method="post">
        <input name="username" type="text" placeholder="username" class="detail" /><br />
        <input name="password" type="password" placeholder="Password" class="detail" />
        <input type="submit" class="btn int" id="signupbtn" value="Log In">
      </form>
      
      
      <footer>
        <p>
          By continuing, you agree to Restaurant's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <br>
        <a href="/register" id="logintext">Not on Restaurant yet? Signup</a>
      </footer>
    </div>
  </div>

</body>
</html>
