<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/Login/style.css">
  <title>Restaurant | Register</title>
</head> 
<body>
  <div class="container">
    <div class="content">
      <!--restaurant logo-->
      <h2 style="margin-top: 2rem;">logo.</h2>
      <p class="header">Sign Up to see more</p>

      <form style="margin-top: 1rem;" action="/register" method="post">
        <input name="fullname" type="text" placeholder="Your Name" class="detail" /><br />
        <input name="username" type="text" placeholder="Username" class="detail" /><br />
        <input name="email" type="email" placeholder="Email" class="detail" /><br />
        <input name="password" type="password" placeholder="Password" class="detail" />
        <input style="margin-top: 1rem;" type="submit" class="btn int" id="signupbtn" value="Sign Up">            <!-- we can use button as well by giving type="submit" in attribute -->
      </form>

      <footer style="margin-top: 2rem;">
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/login" id="logintext">Already on Restaurant? LogIn</a>
      </footer>
    </div>
  </div>
</body>
</html>